html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: rgb(61, 255, 61);
  line-height:1.6;

  
}

main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    
}


.header {
  padding: 1rem;

}

.search-bar {
  height: 30px;
  background: #111;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.btn {
  background: hwb(120 24% 0%);
  color: #000;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}

.menu-icon {
  font-size: 1.4rem;
}






.hero {
  position: relative;
  height: 80vh;
  background: url("imm/Img.1.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
}

.hero.end {
  background: url("imm/") center/cover no-repeat;
  background: url("imm/Img.5.jpg") center/cover no-repeat;
  position: relative;
  height: 80vh;
  
}

.hero::after {
  
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
  
}

.hero-text {
  position: relative;
  padding: 2rem;
  
  max-width: 600px;
}

.hero h1 {
  font-size: 2.5rem;
 padding: 1rem 0;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
   color:  hwb(120 24% 0%);
  
}

.hero p {
  margin-top: 0.5rem;
  font-weight: regular;
  opacity: 1;
  color:  hwb(120 24% 0%);
   background-color: #000000;
  
}


.content {
  padding: 2rem 2rem;
}


.block {
  margin-bottom: 4rem;
  
}

.two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 0;
}

.block img {
  width: 100%;
  height:auto;
 background: url(imm/img.3.jpg) center/cover no-repeat;
 height:600px;
  position:relative;
  filter:grayscale(100%);
  
}

h2, h3 {
  margin-bottom: 1rem;
}
h3 { 
    padding: 0.5rem 0;
    
}




.footer {
  padding: 2rem;
  border-top: 1px solid hwb(120 24% 0%);

}
.footer-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.footer-bottom {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.6;
}

@media(max-width: 768px) {

  .nav ul {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .two-cols,
  .grid {
    grid-template-columns: 1fr;
  }

  .hero h1 {
    font-size: 1.6rem;
  }

  .hero {
    height: 60vh;
  }

  .content {
    padding: 1rem;
  }

  .footer-nav {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
